/***************************** Fonts *****************************/

@font-face{
    font-family: chicStripe;
    src: url(LaChicShadedPro.otf);
}

@font-face{
    font-family: chicSolid;
    src: url(LaChicPro.otf);
}

/**************************** Headings *****************************/

h1{
    font-family: chicSolid;
    font-size: 8em;
    color:white;
    font-weight: normal;    
}

h2{
    font-family: chicStripe;
    font-size: 8em;
    color:white;
    font-weight: normal;  
}

h3{
    font-family: chicSolid;
    font-size: 3em;
    color: rgba(17,55,87,.7);
    font-weight: normal;    
}

h4{
    font-family: chicStripe;
    font-size: 2.5em;
    color: rgba(17,55,87,.7);
    font-weight: normal;    
}

h5{
    font-family: chicSolid;
    font-size: 1.5em;
    color: rgba(17,55,87,.7);
    font-weight: normal;    
}

h6{
    font-family: chicSolid;
    font-size: 2em;
    color: rgba(17,55,87,.7);
    font-weight: normal;    
}

/***************************** All clear *****************************/

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    }

/***************************** Page setup *****************************/
    
html,body{
	height: 100vh;
	width: 100vw;
    overflow: hidden;
    background: #DDE6E7;
}

/********************************** Home Page ***************************/

/* Menu button and drop down for desktop */
.deskmenuSearch{
    position: relative;
    display: inline-block;
    z-index: 8;
    grid-area: a;
    padding-bottom:9vh;
}

.menu{
    display:none;
}

.deskbtn{
    cursor: pointer;
    margin-bottom: 1vh;
    margin-top: 3vh;
}

.deskbtn img{
    width: 50px;
    height:50px;
    z-index:7;
    margin-left: 1.5vw;
    animation: lilShake 7s linear infinite;
    animation-timing-function: ease-in-out;
}

.deskbtn img:hover{
    animation: lilSpin .75s linear 1;
    animation-timing-function: ease-in-out;
}

.searchNav{
    grid-area: a;
}

.searchNav li{
    width: fit-content;
}
.searchNav a {
    color: rgba(118,118,120,1);
    display: inline-block;
    font-size: 160%;
    font-family: chicStripe;
    text-decoration: none;
   
}

.searchNav li ul {
    opacity: 0;
    position: absolute;
    margin-left:-15vw;
    z-index: 1;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}

.searchNav li:hover ul {
    opacity: 1;
    margin-left:3vh;
    visibility: visible;
    text-align: left !important;
}

.searchNav li ul li {
    color: rgba(113,118,120,1);
    background:transparent;
    display: inline-block;
    margin-left:-12% !important;
    font-size: 1.3em;
    font-family: chicSolid;
    padding-bottom: 1vh;
    text-decoration: none;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
       -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
         -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
}

/*.searchNav li ul li:hover {
   font-size: 160%;
}*/

.searchNav li ul li a:hover{
    color: rgba(145,150,150,1);
}


nav ul {
    text-decoration: none;
    list-style: none;
}

nav li {
    list-style: none;
    text-decoration: none;
    position: relative;
}
/*
nav a {
    color: rgba(113,118,120,1);
    display: inline-block;
    font-size: 1.3em;
    font-family: chicSolid;
    padding-top: 2vh;
    text-decoration: none;
   
}

nav li ul {
    float: left;
    left: 0;
    opacity: 0;
    position: absolute;
    margin-top: 2vh;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}

nav li:hover ul {
    opacity: 1;
    top: 50px;
    visibility: visible;
}

nav li ul li {
    background: rgba(221, 229, 230, .7);
    color: rgba(113,118,120,1);
    display: inline-block;
    font-size: 1.3em;
    font-family: chicSolid;
    text-align: center;
    padding-bottom: 2vh;
    text-decoration: none;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
       -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
         -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
}

nav li ul li:hover {
   font-size: 17%;
}

nav li ul li a:hover{
    color: #113756;
}*/

@keyframes lilSpin{
    0%{ transform: rotate(0); }
    100%{ transform: rotate(180deg); }

}

@keyframes lilShake{
    0%{ transform: rotate(0); }
    20%{transform: rotate(0);}
    25%{transform: rotate(20deg);}
    30%{transform: rotate(-20deg);}
    35%{transform: rotate(20deg);}
    40%{transform: rotate(-20deg);}
    45%{transform: rotate(0deg);}
    100%{ transform: rotate(0deg); }

}

/* */

#animate{
    height:100vh;
    width:100vw;
    margin: none;
    position: absolute;
    background-image: url("search.png");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    
    animation: change 7s 1;
    animation-timing-function: ease-in-out;

    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 30% 5% 5% 5% 5% 5% 5% 5% 5% 30%;
    grid-template-areas: "a b b"
                         "c d e"
                         "c f e"
                         "c g e"
                         "c h e"
                         "c i e"
                         "c j e"
                         "c k e"
                         "c l e"
                         "o m p";
}

.sliding{
    width:100vw;
    height:100vh;
    position:absolute;
    object-fit: cover;
    object-position: center bottom;
}

#blank{
    z-index: 1;
    animation: fade 2s ease-in-out 1;
    animation-fill-mode:forwards;
    animation-delay: 13s;
}

#search{
    z-index: 2;
    animation: fade1 4s ease-in-out 1;
    animation-fill-mode:forwards;
    animation-delay: 9s;
}
#blank1{
    z-index: 3;
    animation: fade2 2s ease-in-out 1;
    animation-fill-mode:forwards;
    animation-delay: 7s;
}

#welcome{
    z-index: 4;
    animation: fade3 6s ease-in-out 1;
    animation-fill-mode:forwards;
    animation-delay: 1s;
}

/* #cover{
    z-index: 5;
    animation: fade4 1s ease-in-out 1;
    animation-fill-mode:forwards;
    animation-delay: 5s;
}

#cover1{
    z-index: 6;
    animation: fade5 1s ease-in-out 1;
    animation-fill-mode:forwards;
    animation-delay: 4s;
}

#cover2{
    z-index: 7;
    animation: fade6 1s ease-in-out 1;
    animation-fill-mode:forwards;
    animation-delay: 3s; */
}

/* */
@keyframes change{
    0%{background-image: url("welcomescreen.png");}
    100%{background-image: url("oneSearch.png");}
}

@keyframes fade{
    0%{opacity: 1;}
    100%{opacity: 0;}
}

@keyframes fade1{
    0%{opacity: 1;}
    100%{opacity: 0;}
}

@keyframes fade2{
    0%{opacity: 1;}
    100%{opacity: 0;}
}

@keyframes fade3{
    0%{opacity: 1;}
    75%{opacity: 1;}
    100%{opacity: 0;}
}


@keyframes fade4{
    0%{opacity: 1;}
    100%{opacity: 0;}
}

@keyframes fade5{
    0%{opacity: 1;}
    100%{opacity: 0;}
}

@keyframes fade6{
    0%{opacity: 1;}
    100%{opacity: 0;}
}

#text{
    background: transparent;
    width: 23vw;
    height:6vh;
    grid-area:f;
    align-items:center;
    display:flex;
    padding-top:.5vh;
    padding-left:10vw;
}

#text a{
    text-decoration: none;
    color: #535357;
}

.bookOverlays{
    grid-area:m;
}

.shuffleBooks{
    height: 30em;
    width: 35em;
    display:flex;
    margin-top:15%;
    padding-left:5%;
    position:absolute;
}

#bookOne{
    animation: slide1 32s infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 15s;
}

#bookTwo {
    animation: slide3 32s infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 15s;
}

#bookThree{
    animation: slide2 32s infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 15s;
}
#bookFour {
    animation: slide4 32s infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 15s;
}

@keyframes slide1{
    0%{margin-top:15%;}
    10.5%{margin-top:-8%;}
    12.5%{margin-top:-8%;}
    25%{margin-top:15%;}
    100%{margin-top:15%;}
}

@keyframes slide2{
    0%{margin-top:15%;}
    25%{margin-top:15%;}
    35.5%{margin-top:-8%;}
    37.5%{margin-top:-8%;}
    50%{margin-top:15%;}
    100%{margin-top:15%;}
}

@keyframes slide3{
    0%{margin-top:15%;}
    50%{margin-top:15%;}
    67.5%{margin-top:-8%;}
    68.5%{margin-top:-8%;}
    75%{margin-top:15%;}
    100%{margin-top:15%;}
}

@keyframes slide4{
    0%{margin-top:15%;}
    75%{margin-top:15%;}
    85.5%{margin-top:-8%;}
    87%{margin-top:-8%;}
    100%{margin-top:15%;}
}*/


@media only screen and (max-width: 768px) {
.mobilebtn{
    width: 50px;
    height:50px;
    cursor: pointer;
}

.mobilebtn img{
    width: 50px;
    height:50px;
    margin-bottom: 3vh;
}
.mobilebtn img:hover, .mobilebtn img:focus {
    animation: lilSpin .75s linear 1;
}
.navItems{
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.navItems a{
    display:inline-block;
    font-size: 150%;
    color:rgba(113,118,120,1);
    font-family: draconian;
    text-decoration: none;
    padding-bottom: 2vh;
}
.show {display: inline-block;}
}


/********************************** Search Page ***************************/
.searchNav a:hover{
    color: rgba(145,150,150,1);

}
.bookshelf{
    height:100vh;
    width:100vw;
    background-image: url("bookshelf.jpg");
}

.overlay{
    height:100vh;
    width:100vw;
    background: rgba(40,68,91,.8);
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 8% 18% 20% 55%;
    grid-template-areas: "a a a"
                         "c b d"
                         "e f g"
                         "h i j";
}


.overlay h1{
    margin-top:-2%;
    grid-area: b;
    size: 7em;
    justify-self: center;
    align-self: center;
}

form{
    grid-area: f;
    justify-self: center;
    width:80%;
}

#keywords{
     grid-area: f;
     width: 100%;
     height: 25%;
     padding-left: 2em;

     background:white;
     background-image:url('search.svg');
     background-position: left;
     background-repeat: no-repeat;
     background-size: 5%;

     font-size: 2.2em;
     font-family: chicSolid;
     color: rgba(113,118,120,1);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: .6;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity: .6;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: .6;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: .6;
}


.tableHolder{
    border: 1px solid;
    border-color: rgba(204,209,209,1);
    grid-area:i;
    background:white;
    height:90%;
    border-radius: 6px;
    overflow-y: scroll;
    padding:0% 1%;
    margin-top: 500vh;
    animation: slideTable 2s ease-in-out 1;
    animation-fill-mode:forwards;
    animation-delay: 1s;
}

@keyframes slideTable {
    0%{margin-top: 500vh;}
    100%{margin-top: 0vh;}
}
.tableHolder table{
   /* border-collapse: collapse; */
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgba(204,209,209,1);
}


.tableHolder table tr{
    border-collapse: collapse;
}
.tableHolder tr:last-child{
    border-bottom: none; 
}

.tableHolder table td{
    width:19.6%;
    font-family: chicSolid;
    color:rgba(204,209,209,1);
    font-size:3vh;
    text-align: center;
}

#myTable{
    font-family: chicSolid;
    color: gray;
    font-size: 1em;
    text-align: center;
    border-collapse: collapse;
}

#myTable td{
    width:19.6%;
    font-family: chicStripe;
    color: rgba(17,55,87,.9);
}

#myTable tr:nth-child(even){
    background: rgba(238,238,238,.8);
}

#myTable a{
    text-decoration: none;
    font-family: chicSolid;
    color:rgba(17,55,87,1);
}



/*************************** About Page *******************/


.overlayAbout{
    height:100vh;
    width:100vw;
    background: rgba(40,68,91,.8);
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 25% 75%;
    grid-template-areas: "a b c"
                         "a d c";
}

.overlayAbout h2{
    padding-top:.5em;
    grid-area: b;
    justify-self: center;
    font-family: chicSolid;
    align-self: center;
}

.overlayAbout ul{
    width:100%;
    margin-left: 24%;
    grid-area: b;
    align-self: end;
    margin-bottom: .5em;
    border-top: 1px white;
    border-bottom: 1px white;
    justify-self: center;
}

.overlayAbout ul li{
    text-decoration: none;
    display: inline-block; 
    padding-right: 5%;
    color:white;
}

.overlayAbout ul li a{
    color:white;
    font-size: 1.3em;
    text-decoration: none;
    font-family: chicSolid;
}


.slate{
    border-radius: 6px;
    grid-area: d;
    background: rgba(245,245,245,1);
    height: 90%;
    padding: 5% 5% 0% 5%;
    overflow-y: scroll;
}

.slate h3{
    text-align: center;
    margin-bottom: .3em;
}

.slate h4{

}

.slate p{ 
    font-family: chicSolid;
    font-size: 140%;
    text-align: justify;
    margin-bottom: 1em;
}

.slate p a{
    color: #A1A1A1;
    text-decoration: none;
}
.slate hr{
    width:98%;
    margin-left: 1%;
    font-size: 1px;
    color: rgba(0, 0, 0, 0);
    line-height: 1px;
    clear: both;
    border: none;
    border-top: 1px solid gray;
    text-align: center;
}

.bio{
    width: 65%;
    clear:both;
    float:right;
    margin-top:1em;
}

.slate .link{
    clear:both;
    display:inline-block;
    margin-bottom: 1em;
    vertical-align: text-top;
}

#developers img{
    vertical-align: middle;
    height: 2.5em;
    width: 2.5em;
    margin:1em 1em 0em .5em;
}

/************* CONTACT *****************/
#contact {
    height:70%;
    padding: 2% 5% 3% 5%;
    overflow-y: hidden;
}

#contact p{
    text-align: center;
    margin-bottom:2%;
    font-size: 1.6em;
    color: rgba(69,69,69,.8);
}

form h6{
    color:rgba(17,55,87,.7);
    font-size: 2.1em;
    font-family: chicStripe;
    display: inline-block;
    margin-right: .5%;
    margin-bottom:2.7%;
    vertical-align: text-top;
}

form{
    margin-left:10%;
    width: 80%;
}

input,textarea{
    display: inline-block;
    background:rgb(241,241,241);
    width: 80%;
    padding:.5% 1.3%;
    border-radius:6px;
    font-size:1.6em;
    font-family:chicSolid;
    color: rgba(89,89,89,1);
    border: 1px solid;
    border-color: rgba(204,209,209,1);
    float:right;
    resize: none;
    vertical-align: middle;
    margin-bottom:2%;
    }

.send{
    width:17%;
    margin-left:42.5%;
    cursor:pointer;
    float: none;
    margin-top: 2%;
    font-size:1.8em;
    font-family: chicStripe;
    color:rgba(17,55,87,.7);
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}
.send:hover{
    background: rgba(217,217,217,1);
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #A1A1A1;
    
    font-family:chicSolid;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #A1A1A1;
    
    font-family:chicSolid;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #A1A1A1;
   
    font-family:chicSolid;
}
:-moz-placeholder { /* Firefox 18- */
    color: #A1A1A1;
   
    font-family:chicSolid;
}


/******************************Media Queries *****************************/



@media screen and (min-width: 200px) and (max-width: 500px) {
    #animate{
        background-image: url("welcomescreen.png");
        background-position: center bottom;
        background-size: cover;
        background-repeat: no-repeat;
        
        animation: change 10s linear 3;
        animation-timing-function: ease-in-out;
    }

    .bookOverlays{
        display: none;
    }

    .deskbtn{
        margin-top:1.5vh;
    }

    #text{
        display:none;
    }

    .mobileIcons{
        width: 100%;
        margin-left: 32%;
        align-self: end;
        margin-bottom: .5em;
        justify-self: center;
        position:absolute;
        z-index: 8;
        margin-left:-10vh;
        display: inline;
        -webkit-transition: all .5s ease;
           -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
             -o-transition: all .5s ease;
                transition: all .5s ease;
    }
    
    .mobileIcons li{
        text-decoration: none;
        display: inline;
        padding-right: 5%;
        color: white;
        margin-left: none;
    }

   /* .searchNav li ul{
        display: none;
    }*/

    .searchNav li .mobileIcons{
        display: inline;
        opacity: 0;
        position: absolute;
        margin-left: -15vw;
        z-index: 1;
    }

    .overlay h1{
        font-size:5em;
        padding-top: 1.5vh
    }

    form{
        margin-left: 20%;
    }

    #keywords{
        background-size: 12%;
        font-size:1.6em;
        height: 40%;
    }
    .overlay {
    grid-template-rows: 8% 12% 12% 68%;
    grid-template-areas: "a a a" "c b d" "e f g" "h h h";
    }

    .tableHolder{
        grid-area: h;
        width:90%;
        align-self: center;
        margin-top: 500vh;
        justify-self: center;
    }
    .tableHolder, table, thead, tbody, th, td, tr { 
        display: block; 
    }

    tr { }
    
    td { 
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 50%; 
    }
    
    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }
    
    
    td:nth-of-type(1):before {  content: "Source: "; 
                                color:rgba(204,209,209,1);
                                font-family: chicSolid;
                                text-align: left;
                                padding-left: 5%;}
    td:nth-of-type(2):before {  content: "Title: "; 
                                color:rgba(204,209,209,1);
                                font-family: chicSolid;
                                text-align: left;
                                padding-left: 5%;}
    td:nth-of-type(3):before {  content: "Author: ";
                                color:rgba(204,209,209,1);
                                font-family: chicSolid;
                                text-align: left;
                                padding-left: 5%;}
    td:nth-of-type(4):before {  content: "Read Link: ";
                                color:rgba(204,209,209,1);
                                font-family: chicSolid;
                                text-align: left;
                                padding-left: 5%;} 
    td:nth-of-type(5):before {  content: "Download Link: ";
                                color:rgba(204,209,209,1);
                                font-family: chicSolid;
                                text-align: left;
                                padding-left: 5%;}
    


    .tableHolder .headers{
        display:none;
    }

    #mytable{
        visibility: visible;
    }

    #myTable td{
        width:50%;
        font-family: chicStripe;
        color: rgba(17,55,87,.9);
    }
    .tableHolder table td{
        width: 50%;
        font-size: 1.6em;
    }

    /**************************** ABOUT ************************/
    .overlayAbout {
        grid-template-areas: "a b c" "d d d";
    }

    .overlayAbout h2{
        font-size:5em;
        padding-top: 1.5vh;
        margin-bottom: 3vh;
    }

    .overlayAbout ul{
        margin-left: 0;
        align-self: end;
        margin-bottom: .5em;
        border-top: 1px white;
        border-bottom: 1px white;
        justify-self: center;
        text-align: center;
    }

    .slate{
        width:80%;
        align-self: center;
        justify-self:center;
        height:94%;
    }

    .slate h3{
        font-size: 3.5vh;
    }

    .slate p {
        font-size: 2vh;
    }

    .slate h4 {
        text-align:center;
    }

    .differ{
        visibility: hidden;
    }

    .bio {
        width: 100%;
    }

    #contact{
        height: 95%;
        margin-bottom: 20%;
    }

    #contact p {
        font-size: 2vh;
    }

    .email{
        margin-left:0;
    }

    .email input,textarea{
        width: 100%;
        float: none;
        margin-left: 10%;
    }

    .email h6{

    }
}